.country {
    margin: 20px;
    background-color: white;
    border: 1px solid black;
    max-width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

.country-grid {
    display: grid;
    grid-template-columns: 25% 65%;
    row-gap: 20%;
    column-gap: 10%;
    background-color: red ;
}

.flag-part {
    width: 100%;
    flex: 1;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}
 
.red {
    background-color: red;
}

.flag-circle {
   width: 100px;
   height: 100px;
   border-radius: 100%;
   margin: auto;
}

.border-bottom {
    border-bottom: 10px solid white;
}

.border-top {
    border-top: 10px solid white;
}

.border-right {
    border-right: 10px solid white;
}

.border-left {
    border-left: 10px solid white;
}

.triangle {
    position: absolute;
    width: 0;
	height: 0;
	border-top: 75px solid transparent;
	border-left: 150px solid blue;
	border-bottom: 75px solid transparent;
}